::-webkit-scrollbar {
    display: none!important;
}
.uiScrollableAreaBody{
  margin-right: 0px !important;
}

/* borders */
._36ic,
._1t2u,
._673w,
._4_j5,
._1li-,
._4rv3{
  border-color: #fff !important;
}


/* light_switch */
.lightswitch {
  font-size: 18px;
  position: absolute;
  top: 9px;
  left: 40px;
  /* filter: hue-rotate(180deg); */
  cursor: pointer;
  height: 32px;
  width: 32px;
  background: url('../icons/plusIcon.png');
}

.pinsym{
  position: absolute;
  top:27px;
  right: 30px;
  font-size: 20px;
  opacity: 0.2;
  filter:saturate(0) brightness(0);
}

.plusMenu {
  width: 156px;
}

.plusMenu a {
  background-color: #fff; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
  background-color: #0084ff; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: #4CAF50; /* Add a green color to the "active/current" link */
  color: white;
}
