::-webkit-scrollbar {
  display: hidden;
}
body{
  overflow: hidden;
}
#loader{
  position:absolute;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  transition: 1s;
  opacity: 1;
}
#loadtext{
  background-color: rgba(255,255,255,0) !important;
  color: rgba(255,255,255,0.7);
  position:relative;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  top: calc(50% - 70px);
  user-select: none;
  text-align: center;
}
.lds-ellipsis {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
